@import "../../assets/styles/colors";

.btn {
  background-color: $black;
  padding: 16px;
  width: 100%;
  border: none;

  text-align: center;
  color: $deep-white;
  font-weight: 600;
  cursor: pointer !important;

  &.secondary {
    background-color: $background;
    color: $light-grey;
    border: 2px solid $light-grey;
  }
}
