@import "../../assets/styles/colors";

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 60px 0;
}

.inner-grid {
  display: grid;
  grid-template-columns: auto 270px;
  width: 100%;

  margin-top: 60px;

  .articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    align-items: center;
    gap: 30px;

    margin-right: 30px;
  }

  .side-nav-container {
    min-height: 600px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}
