@import "../../assets/styles/colors";

.card {
  display: flex;
  flex-direction: column;
  height: 620px;
  min-width: 270px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .img-wrapper {
    background-color: $light-grey;
    background-size: cover;
    background-position: center center;
    flex: 1;
  }

  &.featured-card {
    height: 550px;
    flex-direction: row;
    width: 100%;

    .card-details {
      max-width: 300px;
    }
  }
}

.card-details {
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }

  .main-category {
    color: $black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  h1.title {
    font-size: 16px;
    font-weight: 600;
    color: $black;
  }

  .content-preview {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .post-details {
    font-size: 12px;
  }
}
