@import "../../assets/styles/colors";

footer {
  display: flex;
  width: 100%;
  background-color: $deep-black;
  color: $lightest-grey;

  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
    margin: auto;

    font-weight: 300;

    a {
      color: $deep-white;
      font-weight: 500;
    }
  }
}

.footer-nav {
  display: none;

  & > a:not(:last-child) {
    margin-right: 32px;
  }
}

@media screen and (min-width: 650px) {
  .footer-nav {
    display: flex;
  }
}
