@import "./colors";

.App {
  min-height: 100vh;
  width: 100%;
  background-color: $background;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $grey;
  font: normal 14px "Mulish";
  line-height: 1.5em;

  position: relative;

  &.full-screen {
    height: 100vh;
  }
}

.container {
  max-width: 1200px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  flex: 1;
}

::-moz-selection {
  /* Code for Firefox */
  color: $lightest-grey;
  background: #67b8ee;
}

::selection {
  color: $lightest-grey;
  background: #67b8ee;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
