@import "./colors";

.App {
  min-height: 100vh;
  width: 100%;
  background-color: $background;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $grey;
  font: normal 14px "Mulish";
  line-height: 1.5em;
}

.container {
  max-width: 1200px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  flex: 1;
}
